body {
  font-family: "Snowburst One" !important;
  background-color: #76564b !important;
  color: #fefce7 !important;
}

.btnMinus {
  font-family: Century Gothic, Calibri;
  background-color: #f56565;
  margin: auto;
  cursor: pointer;
  width: 28px;
  height: 28px;
  color: #fefce7;
  border: none;
  border-radius: 100%;
}

.btnPlus {
  font-family: Century Gothic, Calibri;
  background-color: #90f26d;
  margin: auto;
  cursor: pointer;
  width: 28px;
  height: 28px;
  color: #fefce7;
  border: none;
  border-radius: 100%;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fefce7;
  margin: auto !important;
}

li {
  list-style-type: none;
}

.redInformation {
  color: red;
}

.blueInformation {
  color: #68bdfb;
}

.greenInformation {
  color: #04fa3a;
}

div {
  white-space: pre-line;
}
